@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wr-scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .wr-scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
