@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --wr-ui-background: 0 0% 100%;
    --wr-ui-foreground: 224 71.4% 4.1%;

    --wr-ui-card: 0 0% 100%;
    --wr-ui-card-foreground: 224 71.4% 4.1%;

    --wr-ui-popover: 0 0% 100%;
    --wr-ui-popover-foreground: 224 71.4% 4.1%;

    --wr-ui-primary: 220.9 39.3% 11%;
    --wr-ui-primary-foreground: 210 20% 98%;

    --wr-ui-secondary: 220 14.3% 95.9%;
    --wr-ui-secondary-foreground: 220.9 39.3% 11%;

    --wr-ui-muted: 220 14.3% 95.9%;
    --wr-ui-muted-foreground: 220 8.9% 46.1%;

    --wr-ui-accent: 220 14.3% 95.9%;
    --wr-ui-accent-foreground: 220.9 39.3% 11%;

    --wr-ui-destructive: 0 84.2% 60.2%;
    --wr-ui-destructive-foreground: 210 20% 98%;

    --wr-ui-border: 220 13% 91%;
    --wr-ui-input: 220 13% 91%;
    --wr-ui-ring: 224 71.4% 4.1%;

    --wr-ui-radius: 0.5rem;
  }

  .dark {
    --wr-ui-background: 224 71.4% 4.1%;
    --wr-ui-foreground: 210 20% 98%;

    --wr-ui-card: 224 71.4% 4.1%;
    --wr-ui-card-foreground: 210 20% 98%;

    --wr-ui-popover: 224 71.4% 4.1%;
    --wr-ui-popover-foreground: 210 20% 98%;

    --wr-ui-primary: 210 20% 98%;
    --wr-ui-primary-foreground: 220.9 39.3% 11%;

    --wr-ui-secondary: 215 27.9% 16.9%;
    --wr-ui-secondary-foreground: 210 20% 98%;

    --wr-ui-muted: 215 27.9% 16.9%;
    --wr-ui-muted-foreground: 217.9 10.6% 64.9%;

    --wr-ui-accent: 215 27.9% 16.9%;
    --wr-ui-accent-foreground: 210 20% 98%;

    --wr-ui-destructive: 0 62.8% 30.6%;
    --wr-ui-destructive-foreground: 210 20% 98%;

    --wr-ui-border: 215 27.9% 16.9%;
    --wr-ui-input: 215 27.9% 16.9%;
    --wr-ui-ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply wr-ui-border-border;
  }
  body {
    @apply wr-ui-bg-background wr-ui-text-foreground;
  }
}
