@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --wr-background: 0 0% 100%;
    --wr-foreground: 224 71.4% 4.1%;

    --wr-card: 0 0% 100%;
    --wr-card-foreground: 224 71.4% 4.1%;

    --wr-popover: 0 0% 100%;
    --wr-popover-foreground: 224 71.4% 4.1%;

    --wr-primary: 220.9 39.3% 11%;
    --wr-primary-foreground: 210 20% 98%;

    --wr-secondary: 220 14.3% 95.9%;
    --wr-secondary-foreground: 220.9 39.3% 11%;

    --wr-muted: 220 14.3% 95.9%;
    --wr-muted-foreground: 220 8.9% 46.1%;

    --wr-accent: 220 14.3% 95.9%;
    --wr-accent-foreground: 220.9 39.3% 11%;

    --wr-destructive: 0 84.2% 60.2%;
    --wr-destructive-foreground: 210 20% 98%;

    --wr-border: 220 13% 91%;
    --wr-input: 220 13% 91%;
    --wr-ring: 224 71.4% 4.1%;

    --wr-radius: 0.5rem;
  }

  .dark {
    --wr-background: 224 71.4% 4.1%;
    --wr-foreground: 210 20% 98%;

    --wr-card: 224 71.4% 4.1%;
    --wr-card-foreground: 210 20% 98%;

    --wr-popover: 224 71.4% 4.1%;
    --wr-popover-foreground: 210 20% 98%;

    --wr-primary: 210 20% 98%;
    --wr-primary-foreground: 220.9 39.3% 11%;

    --wr-secondary: 215 27.9% 16.9%;
    --wr-secondary-foreground: 210 20% 98%;

    --wr-muted: 215 27.9% 16.9%;
    --wr-muted-foreground: 217.9 10.6% 64.9%;

    --wr-accent: 215 27.9% 16.9%;
    --wr-accent-foreground: 210 20% 98%;

    --wr-destructive: 0 62.8% 30.6%;
    --wr-destructive-foreground: 210 20% 98%;

    --wr-border: 215 27.9% 16.9%;
    --wr-input: 215 27.9% 16.9%;
    --wr-ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
